// message-colors
$bot_color: #5383ec;
$user_color: #495963;
$user_color_input:#495963;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mt20{
  margin-top: 20px;
  margin-top: 10px;
}
* {
  box-sizing: border-box;  
}
html{
  height: 100%;
  background-size:cover;
  background-color: #F1F1F1;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  overflow: auto;
  font-size: 100%;
  height: 100%;
  background-color: #F1F1F1;
  background-size:cover;
  padding-top: 5%;
}
.wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  width: 80%;
  max-width: 700px;
  background-color: #FFF;
  margin: auto;
  height: 90%;
}


#wrap{
  height:100%;
  width: 100%;
  opacity: 1!important;
}
#app{
  margin: 0 auto;
  max-width: none;
  width: 100vw;
  height: 100%;
  position: fixed;
  padding-bottom: 18vh;
  top: 0;
  z-index: 200;
}

// startbox
.startbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  img {
    border-radius: 100%;
    width: 40%;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .chat-input-box {
    text-align: center;
  }
  .rate{
    color: #FFD600;
    font-size: 20px;
  }
  .bgc{
    padding: 15px !important;
    min-width: 300px !important;
  }
  h3 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }
}


.chat-output {
  padding: 5px;
  font-size: 14px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  &:after{
    clear: both;
    content:"";
  }
  > div {
    margin: 0;
  }
  .user-message {
    padding: 15px 25px 15px 25px;
    display: inline-flex;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    transition: all 0.18s ease-in;
    position: relative;
    flex-direction: row-reverse;
    .message {
      background: #4A4A4A;
      color: white;
      &:after{
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 8px 0px 8px 8px;
        border-color: transparent #4A4A4A;
        display: block;
        width: 0;
        z-index: 1;
        right: -8px;
        top: 3px;
      }
    }
  }
  .bot-message {
    overflow: auto;
    &::-webkit-scrollbar {
    width: 0px;
    }
    &>.message {
      box-shadow: none;
    }
    .bot-message{
      .message{
        margin-bottom: 20px;
        margin-left: 52px;
        background-color: #F7F7F7;
        color: #5F5F5F;
        &:after{
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 8px 8px 8px 0;
          border-color: transparent #F7F7F7;
          display: block;
          width: 0;
          z-index: 1;
          left: -8px;
          top: 3px;
        }
        &:before{
          content: '';
          display: inline-block;
          position: absolute;
          height: 42px;
          width: 42px;
          background-image: url(../images/okami.jpg);
          background-size: contain;
          border-radius: 100%;
          left: -52px;
          z-index: 1000;
          top: 0px;
        }
      }
    }
  }
  .message {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    min-width: 50%;
    position: relative;
    border-radius: 5px;
  }
}

.caution{
  font-size: 0.8em;
  padding: 0 1.0em 1.0em;
}
.sliders{
  background: #F7F7F7;
  width: 80%;
  margin: 0 auto 20px !important;
  margin-bottom: 30px;
  .sliderbox{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    &>p{
      text-align: center;
      padding-bottom: 0.5em;
      span{
        color: rgb(0, 188, 212);
      }
    }
    &>div{
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
      padding-bottom: 0.5em;
    }
    .slider div{
      margin-top: 0px !important;
      border: 0;
    }
  }
}

// *************************
// chat-input
// *************************

.chat-input-box{
  padding: 3vh 25px 3vh 25px;
  display: flex;
  width: 100%;
  height: 12vh;
  transition: all 0.18s ease-in;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  flex-wrap: nowrap;
  .chat-input {
    width: 100%;
    -webkit-transform: translateZ(0px);
    .user-input {
      width: auto;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      overflow: auto;
    }
    button{
      color: #000;
      cursor: pointer;
      white-space: nowrap;
      margin:0px 20px 20px 0;
      opacity: 0;
      border-radius: 5px;
      padding: 10px;
      min-width: 120px;
      display: inline-block;
      border: none;
      outline: none;
      text-decoration: none;
      text-align: center;
      background: rgba(158,158,158,.2);
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
      &:disabled{
        color: #B3B3B3;
      }
    }
  }
}



.message{
  opacity: 0;
}
.bar-box{
  background: #fff;
  margin-bottom: 16px;
  .bar-title{
    font-size: 1.2em;
  }
  .bar-range{
    display: flex;
    justify-content: space-between;
    .bar-min{
      color: #5383ec;
    }
    .bar-max{
      color: red;
    }
  }
}



@media screen and ( min-width : 800px ) {
  #wrap{
    width: auto;
  }
  #app{
    max-width: 700px;
    width: auto;
  }
  .chat-output .bot-message .bot-message .message{
    margin-left: 70px;
  }
  .chat-output{
    padding: 20px;
  }
} 

@media screen and (max-width: 600px) {
  .wrapper{
    width: 100%;
  }
  .indexBody {
    background-size: cover !important;
  }
}